<h2 id="title">Welcome to Ember</h2>
<span>{{#link-to 'index'}}Home{{/link-to}}</span>
<span>{{#link-to 'contact'}}Contact{{/link-to}}</span>
<span>{{#link-to 'about'}}About Us{{/link-to}}</span>
{{outlet}}
