{{outlet}}
<h1> Welcome to Super Posts </h1>
{{new-post postSave="postSave"}}

<div>
  {{#each model as |post|}}
     {{post-tile post=post update="updatePostForm" destroyPost="destroyPost"}}
  {{/each}}
</div>
